.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-top: 20px;
}

.resultNames {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.resultLinks {
	padding-left: 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
